.newset-container{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.newset-container input{
	width: 300px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid black;
}

.newset-container hr{
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: .1;
}

.new-set-submit-btn{
	position: relative;
	float: right;
}

.newset-container .newset-select-css{
	width: 300px;
	display: inline-block;
	height: 30px;
}


.newset-container input{
	border: 0;
	border-bottom: 1px solid #ec1092;
}

.title-folder-header{
	margin-bottom: 100px;
	margin-top: 20px;
}

.new-set-add-card-btn{
float: right;
}

.new-card-header{
	position: relative;
	top: 50px;
	font-size: 36px;
	margin-bottom: 100px;
	font-family: "Roboto Medium";
	color: #0a93e3;
}

.new-set-add-card-btn{
	position: absolute;
	right: 0;
	top: -30px;
	height: 40px;
	border: 2px solid #0a93e3;
	border-radius: 5px;
	color: #0a93e3;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: white;
}

.new-set-submit-btn{
	position: absolute;
	right: 0;
	top: 100px;
	width: 100px;
	height: 40px;
	background-color: #0a93e3;
	border-radius: 5px;
	color: white;
	border: none;
	font-size: 16px;

}

.button-container{
	position: relative;
	top: 0;
	left: 0;
	margin-bottom:100px;
}

.newset-container .select-dropdown{
	width: 300px;
	display: inline-block;
}

/*.newset-yellow-bg{
	background-color: gold;
	width: 100%;
	height: 150px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}*/

.newset-outer-container .container{
	padding-top: 0px;

}

.new-card-header-underline{
	height: 1px;
	width: 100%;
	background-color: #ec1092;
	position: relative;
	top: -50px;
}