.dashboard-card-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 50px;
	padding-right: 20px;
	justify-content: space-around;
}

.dashboard-card-container a{
	text-decoration: none;
}

.card .card-text{
	font-size: 14;
	font-weight: bold;
	color: black;
}

.card-page-answer-input{
	
}

.answers{
	
}