
.dashboard-content{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
}

.dashboard-sticky-container{
	height: 5px;
	top: 100px;
	position: sticky;
}

.dashboard-menu-container{
	min-width: 200px;
	/*border-bottom: 10px solid #ec1092;*/
	border-bottom: 10px solid gold;
	display: flex;
	height: 330px;
	box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, .4);
	z-index: -1;
	top: 100px;
	position: sticky;
	margin-right: 30px;
	margin-top: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 30px;
	margin-left: 50px;
	background-color: white;
}

.dashboard-menu{
	margin-top: 20px;
}

.dashboard-menu-item-container{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 50px;
	margin-bottom: 10px;
}

.dashboard{
	top: 0px;
	height: 100%;
	font-weight: 700;
	font-size: 14px;
	width: 100%;
}

.dashboard-title{
	padding-left: 30px;
	color: #ec1092;
}

.selected div{
	background-color: #0b90e4;
/*	background-color: #0078d7;*/
	color: #eeeeee;
}


.container{
	max-width: 1200px;
	box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
	height: 100%;
	display: inline-block;
	z-index: 1;
	padding-top: 100px;
	width: 100%;
	background-color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


.dashboard-content-container{
	max-width: 1200px;
	background-color: transparent;
	height: 100%;
	display: inline-block;
	z-index: 0;
	padding-top: 100px;
	width: 100%;
	margin-right: 50px;
}

.dashboard-menu a{
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.dashboard-menu a:hover{
	color: #0b90e4;
}