.dashboard-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 450px; 
	height: 225px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	cursor: pointer;
	position: relative;
}

.Tilt-inner{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.dashboard-card-title{
	font-weight: 800;
	color: black;
	font-family: 'Kalam', cursive;
	font-size: 36px;
	z-index: 10;
}

.dashboard-card:hover .dashboard-card-title{
	color: #0b90e4;
/*	color: gold;*/
}



.dashboard-card-count{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	z-index: 10;
}

.dashboard-card-highscore{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	z-index: 10;
}

.lines{
	position: absolute;
	overflow:hidden;
}

.lines-blue{
	background-color: blue;
	height: 1px;
	width: 450px;
	margin-top: 20px;
	z-index: -1;
	opacity: .2;
}

.lines-red{
	background-color: #ec1092;
	height: 1px;
	width: 450px;
	margin-top: 20px;
	z-index: -1;
	opacity: .2;
}