.dashboard-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 450px; 
	height: 225px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}