.dashboard-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 450px; 
	height: 225px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	cursor: pointer;
}

.Tilt-inner{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.dashboard-card-title{
	font-weight: 800;
	color: black;
	font-family: 'Kalam', cursive;
	font-size: 36px;

}

.dashboard-card-count{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}

.dashboard-card-highscore{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}