.login-container{
	width: 450px;
	z-index: 99;
	background-color: white;
	height: 550px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, .4);
}

.center-container{
	display: flex;
	justify-content: center;
	height: 400px;
	padding-top: 75px;
	position: relative;
	align-items: center;
	width: 100%;
	padding-top: 300px;
	
}

.login-header-bar{
background-color: gold;
width: 100%;
display: flex;
justify-content: center;
height: 120px;
min-height: 120px;
color: white;
font-weight: bold;
font-size: 42px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
align-items: center;
}

.login-container form{
	height: 100%;
}
.login-header-spacer{
	height: 100px;
}

.login-container input{
	margin-bottom: 20px;
	width: 200px;
	border: 0;
	border-bottom: 1px solid #c3c3c3;
}

.login-container input{
	margin-bottom: 30px;
	width: 200px;
	border: 0;
	border-bottom: 1px solid #c3c3c3;

}

.login-container:nth-child(2){
	margin-bottom: 100px;
}

.login-btn{

	width: 100px;
	height: 40px;
	background-color: #0a93e3;
	border-radius: 5px;
	color: white;
	border: none;
	font-size: 16px;
}

.log-in-form-username-label,.log-in-form-password-label{
	position: relative;
}

.log-in-form-password-label > .label-wrapper > label{
	position: absolute;
	left: 0;
	top: -8px;
	transition: all.15s;
	color: #c3c3c3;
	pointer-events: none;
}

.log-in-form-username-label > .label-wrapper > label{
	position: absolute;
	left: 0;
	top: -8px;
	transition: all.15s;
	color: #c3c3c3;
	pointer-events: none;
}


.log-in-form-password-label > input[type="password"]:focus,
.log-in-form-password-label >input[type="password"]:valid {
	border-bottom: 1px solid black;
}

.log-in-form-username-label > input[type="text"]:focus,
.log-in-form-username-label >input[type="text"]:valid {
	border-bottom: 1px solid black;
}



.log-in-form-password-label  input:focus + .label-wrapper > label,
.log-in-form-password-label  input:valid + .label-wrapper > label{
	top: -20px;
	font-size: 12px;
	color: #ec1092;
}

.log-in-form-password-label  input:invalid {
	box-shadow: 0px 0px 0px 0px black;
	border-bottom: 1px solid #c3c3c3;
}





.log-in-form-username-label  input:focus + .label-wrapper > label,
.log-in-form-username-label  input:valid + .label-wrapper > label{
	top: -20px;
	font-size: 12px;
	color: #ec1092;
}

.log-in-form-username-label  input:invalid {
	box-shadow: 0px 0px 0px 0px black;
	border-bottom: 1px solid #c3c3c3;
}
